.venv/
.venv/**
__pycache__/
*.py[cod]
port.json
overlay_controller.pid
payload_store/new-payloads.json
overlay_group_cache.json
overlay_group_cache.json.tmp
overlay_groupings.user.json
#*.code-workspace
[Ee][Uu][Rr][Oo][Cc][Aa][Pp][Ss].[Tt][Tt][Ff]
overlay_client/env_overrides.json
_external/
_external/**    
.hostvenv/
.hostvenv/**
logs/
logs/**
*.log
