[tool.ruff]
target-version = "py311"
line-length = 120

[tool.ruff.lint]
select = ["E", "F"]

[tool.mypy]
python_version = "3.11"
ignore_missing_imports = true
warn_unused_ignores = false
show_error_codes = true
explicit_package_bases = true
disable_error_code = "arg-type,attr-defined,call-arg,operator,no-redef,var-annotated,union-attr"
files = "overlay_plugin, overlay_controller, load.py, group_cache.py, prefix_entries.py"
