name: Discord Issue Notifications
permissions:
  issues: read

on:
  issues:
    types: [opened, edited, closed]
  issue_comment:
    types: [created, edited, deleted]


jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send Discord message
        uses: Ilshidur/action-discord@master
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        with:
          args: |
            Issue **#${{ github.event.issue.number }}** \
            *${{ github.event.action }}* by **${{ github.actor }}**  
            <${{ github.event.issue.html_url }}>
